---
---

/* Import Sass components. */

@import "base", "grid", "components", "forespell_logo";

/* Scale the entire page on desktop. */

@media screen and (min-width: $laptop-m) {
    body > div {
        font-size: $font-scale-step * 1em;
    }
}

/* Hero. */

$highlight-color: #00c4fe; // 5, 10, 72, 64, 70
$highlight-border-color: rgba($highlight-color, 0.7);
$hero-background-color: $html-background-color;

#hero {

    background-color: $hero-background-color;
    height: 92vh;
    position: relative;

    nav ul a {
        border-radius: 2px;
        &:hover {
            color: $font-color-inverse;
            background-color: $highlight-color;
        }
    }

    .tagline {

        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;

        div {

            box-sizing: border-box;
            margin: 0;
            padding: 0 4%;
            width: 100%;
            text-align: center;
            display: inline-block;
            position: relative;
            left: 0;
            transform: translateY(-50%);

            &:first-child {
                @extend .scale-3;
                top: 49%;
                max-width: 17.25em;
            }

            &:last-child {
                @extend .scale-1;
                position: absolute;
                bottom: 0;
            }

        }

        h1 {
            font-size: 1em;
            display: inline;
            line-height: 1.6;
            border-bottom: 0.35em solid $highlight-border-color;
        }

        h2 {
            font-size: 1em;
            display: inline;
            line-height: 1;
            color: rgba($font-color, 0.2);

            i {
                display: inline;
                position: relative;
                top: -0.5em;
            }
        }

    }

}

/* Landing rows. */

div.landing-row {

    & > div {

        margin: 0 auto;
        width: 88%;
        box-sizing: border-box;
        max-width: 1500px;
        border-radius: 2px;
        padding: 6em 0;

        & > h1 {

            @extend .scale-2;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            margin-top: -0.5em;
            margin-bottom: 3em;
            text-align: center;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 2.5em;
                height: 0.175em;
                background-color: $highlight-border-color;
                position: absolute;
                bottom: -0.5em;
                left: 50%;
                transform: translateX(-50%);
            }

        }

    }

    &#what-we-do {

        background: white;

        h3, p {
            margin: 0;
        }

        .consulting, .training, .microservices, .data {

            background-repeat: no-repeat;
            background-position: center top;
            background-size: 4em auto;
            vertical-align: top;
            padding-top: 4.8em;

            @media screen and (min-width: $tablet), print {
                background-position: left top;
                width: 5.5em;
            }

        }

        .consulting { background-image: url('../images/approval.svg'); }
        .training { background-image: url('../images/imac.svg'); }
        .microservices { background-image: url('../images/source_code.svg'); }
        .data { background-image: url('../images/stack.svg'); }

    }

    &#projects {

        background-color: $html-background-color;

        .card {

            @extend .shadow-1;
            display: block;
            background: white;
            min-height: 5em;
            padding: 1em 1.4em;
            margin-top: 0.8em;
            box-sizing: border-box;
            border-radius: 2px;
            position: relative;
            transform: translateZ(0);
            transition: all 150ms ease;

            &::before {
                content: 'Proof-of-concept';
                display: block;
                position: absolute;
                bottom: 100%;
                right: 0.5em;
                font-weight: bold;
                opacity: 0.2;
            }

            &:hover {
                @extend .shadow-3;
                transform: translateY(-3px);
            }

            h3 {

                background-repeat: no-repeat;
                background-size: auto 85%;
                background-position: left center;
                margin: 0;

                span {
                    font-weight: 300;
                }

                i {
                    @extend .scale--1;
                    opacity: 0.2;
                }

                &.investimize { padding-left: 1.1em; background-image: url('../images/investimize.svg'); }
                &.rockestate { padding-left: 1.7em; background-image: url('../images/rockestate.svg'); background-size: 1.3em 1.3em; }

            }

            p {
                margin: 0;
            }

        }

    }

    &#clients {

        background-color: white;
        text-align: center;

        div.col {

            display: block;
            vertical-align: middle;

            img.client {
                width: 90%;
                max-width: 200px;
                transform: translateZ(0);
            }

        }

    }

    &#who-we-are {

        text-align: center;

        a.col {

            display: block;

            div.photo {

                width: 70%;
                height: 0;
                padding-bottom: 70%;
                margin: 0 auto;
                margin-bottom: 1em;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: relative;
                overflow: hidden;
                transform: translateZ(0);

                &.kasper { background-image: url('../images/kasper.png'); }
                &.laurent { background-image: url('../images/laurent.png'); }
                &.mathieu { background-image: url('../images/mathieu.jpg'); }

                span {
                    color: #616161;
                    color: white;
                    display: table-cell;
                    vertical-align: middle;
                    position: absolute;
                    width: 100%;
                    height: 40%;
                    background: rgba(0, 0, 0, 0.7);
                    top: 100%;
                    transition: all 150ms ease;
                    line-height: 2.5;
                }

            }

            &:hover .photo span {
                top: 66%;
            }

        }

    }

    &#get-in-touch {

        background-color: #333;
        color: white;

        & > div {
            padding: 6em 5%;
        }

        .row {
            table-layout: auto;
        }

        .col {

            vertical-align: top;

            &:not(:first-child) {
                @media screen and (min-width: $tablet), print {
                    text-align: right;
                }
            }

            div {
                
                display: inline-block;
                text-align: left;

                h3 {
                    margin: 0;
                }

                a {

                    display: inline-block;
                    padding-left: 1.3em;
                    position: relative;

                    .fa {
                        position: absolute;
                        line-height: 1;
                        top: 0.25em;
                        left: -0.17em;
                    }

                    .fa-envelope, .fa-map {
                        font-size: 0.8em;
                        line-height: 1.4;
                        width: 1.5em;
                    }

                }

                a:hover {
                    color: cyan;
                }

            }

        }

    }

}
