/* Forespell logo.
   
   Accompanying HTML:
        <i class="logo"></i>
        <i class="brandname"></i>
        <i class="logo brandname"></i>
*/

i {

    &.logo::before {
        content: '';
        width: 0.85em;
        height: 0.85em;
        display: inline-block;
        vertical-align: -0.05em;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../images/forespell.svg');
    }

    &.brandname::after {
        content: 'Forespell';
        font-family: 'Roboto', sans-serif;
        letter-spacing: -0.01em;
        font-weight: 300;
        font-style: normal;
        color: $font-color;
    }

    &.logo.inverse::before {
        background-image: url('../images/forespell_white.svg');
    }

    &.brandname.inverse::after {
        color: $font-color-inverse;
    }

    &.logo.brandname {

        white-space: nowrap;

        &::before {
            margin-right: 0.25em;
        }

    }

}
