/* Grid based on ungrid.css [1]
   [1] http://chrisnager.github.io/ungrid/.
*/

@include media-min($tablet) {
    .row {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    .col {
        display: table-cell;
    }
}

@include media-max($tablet) {
    .col {
        width: 100% !important;
    }
}
