/* Grid based on ungrid.css [1].
   [1] http://chrisnager.github.io/ungrid/
*/

@media screen and (min-width: $tablet), print {
    .row {
        display: table !important;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }
    .col {
        display: table-cell !important;
    }
    @for $i from 1 through 6 {
        .anti-gutter-#{$i} {
            margin-left: -$i * 1em;
            margin-right: -$i * 1em;
        }
        .row.gutter-#{$i} {
            border-collapse: separate;
            border-spacing: $i * 1em 0;
        }
        .row.gutter-#{$i} + .row {
            margin-top: $i * 1em;
        }
    }
}

@media screen and (max-width: $tablet - 1px) {
    .col {
        width: auto !important;
    }
    @for $i from 1 through 6 {
        .row.gutter-#{$i} > .col + .col {
            margin-top: $i * 1em;
        }
        .row.gutter-#{$i} + .row > .col {
            margin-top: $i * 1em;
        }
    }
}
